body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(./images/Peruvian-Andes-gallery7.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color: #e2dbdb;
}

hr {
  margin: 20px auto;
  color: #F05F44;
  border: 3px solid #F05F44;
  max-width: 325px;  /* defines the maximum width of the hr */
  opacity: 1;
}

.buffer {
  height: 12rem;
}

.custom-button {
    display: inline-flex; /* Align items inside */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    width: 200px; /* Set desired width */
    height: 100px; /* Set desired height */
    border: none; /* Remove border */
    background-color: transparent; /* Make background transparent */
    padding: 0; /* Remove padding */
    cursor: pointer; /* Change cursor on hover */
}

.button-image {
    max-width: 110%; /* Scale image to fit */
    max-height: 110%; /* Scale image to fit */
    object-fit: contain; /* Maintain aspect ratio */
    display: block;
    filter: brightness(0.1); /* Darken the image */
}

.custom-button:hover {
  background-color: transparent;
  border-color: transparent;
  transform: scale(1.1);  /* this is the transition that we apply, i.e. width*1.1 (the rest too) */
  /* padding: 1rem 2rem;  /* this does exactly the opposite to transform */
}